<nav class="navbar navbar-expand-sm bg-primary navbar-light fixed-top">
    <div class="container">
      <button class="navbar-toggler" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="/dashboard" class="navbar-brand">Client Manager</a>
      <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Settings</a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Logout</a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

